.conc_actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.moogold_balance {
  background: #358ed7;
  cursor: default;
}

.disabled_action {
  cursor: default;
  opacity: 0.5;
}

.conclisions_item_list svg {
  cursor: pointer;
}
.output_ended {
  cursor: default;
}
.output_ended:hover {
  background: #fb8a01 !important;
}