.create_position_btn {
  background: green;
}

.positions_content {
  margin-top: 40px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.admin_permissions h3 {
  margin-bottom: 20px;
}

.admin_permissions {
  width: 57%;
}
.position_roles {
  width: 30%;
}
.position_roles p {
  font-size: 20px;
  transition: all 0.3s ease;
}
.position_roles p:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}
.position_roles div {
  padding: 10px;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 4px;
}

.admin_permissions_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.admin_permission {
  width: 90%;
}

.active_sel_permission {
  opacity: 0.6;
}

.add_role_block {
  display: flex;
  align-items: start;
}

.warning {
  display: flex;
  align-items: start;
  padding: 4px;
  gap: 8px;
  border-radius: 3px;
  border: 1px solid var(--unnamed, #cfd3de);
}
.warning p {
  color: var(--unnamed, #737373);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.add_role_block
.add_employe_input {
 width: 750px;
 margin-right: 32px;
}

.admin_page_perms_list {
  margin-bottom: 30px;
}
.admin_permissions {
  margin-top: 20px;
}
.admin_permissions h3 {
  font-weight: 700;
}