.cases_paginations {
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
}
.cases_paginations ul {
  display: flex;
  align-items: center;
}
.cases_paginations ul li {
  list-style: none;
}
.cases_paginations ul li a {
  list-style: none;
  cursor: pointer;
  min-width: 52px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5da5df;
  border-left: none;
  color: var(--unnamed, var(--unnamed, #121212));
  text-align: center;

  /* Small text / Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  transition: all 0.3s ease;
}
.cases_paginations ul li:nth-child(2) {
  border-left: 1px solid #5da5df;
}

.cases_paginations ul li:hover {
  transition: all 0.3s ease;
  background: #5da5df;
}
.cases_paginations ul li:hover a {
  color: #fff;
}

.cases_paginations .selected a {
  background: #5da5df;
  color: #fff;
}
.cases_paginations .previous,
.cases_paginations .next {
  border-radius: 3px;
  position: absolute;
}
.cases_paginations .previous {
  right: 135px;
}
.cases_paginations .next {
  right: 0;
}
.cases_paginations .previous a,
.cases_paginations .next a {
  border-radius: 3px;
  border: 1px solid var(--normal, #358ed7);
  padding: 8px 16px;
  color: var(--normal, #358ed7);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 142%;
}
.cases_paginations .disabled a {
  cursor: default;
  color: var(--unnamed, #eaeaea);
  border: 1px solid var(--unnamed, #eaeaea);
}
.cases_paginations .disabled:hover {
  background: transparent;
}
.cases_paginations .disabled:hover a {
  background: transparent;
  color: var(--unnamed, #eaeaea);
  border-radius: 3px;
}

.cases_table_actions_list svg {
  transition: all 0.3s ease;
}
.cases_table_actions_list svg:hover {
  transition: all 0.3s ease;
  opacity: 0.7;
}
