.case_items_modal {
  width: 70% !important;
  margin-left: 0 !important;
  left: auto !important;
}

.case_item {
  width: 100px;
  cursor: pointer;
}
.case_item img {
  width: 100%;
}
.case_item p {
  text-align: center;
}
.case_items_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.modal_template_content .case_item img {
  width: 100px;
}

.case_items_content_wrapper {
  height: 700px;
  overflow-y: visible;
  overflow-x: hidden;
}
.case_items_content {
  height: 100%;
}
.case_item_card {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.case_item_card input {
  width: 22px;
  height: 22px;
}
.case_item_card img {
  width: 180px;
  height: 180px;
  object-fit: cover;
}
