.top_cases_actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.top_cases_actions button {
  background: #eb0910;
}
.top_cases_actions .add_case_btn {
  background: #358ed7;
}
.top_cases_actions .add_categories_btn {
  background: #fb8a01;
}
.top_cases_actions button:nth-child(4) {
  background: #39b54a;
}

.cases_top_togglers {
  display: flex;
  align-items: center;

  gap: 8px;
}

.cases_top_togglers button {
  background: #1d1d1d;
  transition: all 0.3s ease;
}
.cases_top_togglers button:hover {
  background: #d6d6d6;
  color: #1d1d1d;
  transition: all 0.3s ease;
}
.top_active_filter {
  background: #d6d6d6 !important;
  color: #1d1d1d;
}
.cases_top_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}
.cases_top_actions button:nth-child(1) {
  background: #dc0000;
}
.cases_wrapper .user_line {
  margin-top: 20px;
}
.cases_table,
.cases_table thead {
  width: 100%;
}
.cases_table thead tr {
  width: 100%;
}
.cases_table thead tr td {
  color: rgba(3, 2, 41, 0.5);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  padding-bottom: 16px;
}
.cases_table thead tr td:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.select_all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.select_all input {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.cases_table_actions_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.cases_table_actions_list div {
  cursor: pointer;
}
.cases_table tbody tr td {
  color: #030229;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  padding: 8px 0;
  border-top: 1px solid #d9d9d9;
}

.tac {
  text-align: center;
}
.is_selected {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cases_table_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
