.back_btn {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.back_btn p {
  color: var(--normal, #358ed7);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.add_employee_wrapper {
  border-radius: 3px;
  border: 1px solid var(--unnamed, #cfd3de);
  background: var(--unnamed, #fff);
  padding: 24px;
  margin-top: 28px;
  margin-bottom: 55px;
}

.add_employee_wrapper h3 {
  color: #000;
  margin-bottom: 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.2px;
}

/*  */
.add_employee_form {
  width: 750px;
}
.add_employe_input div.wrap {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.add_employe_input div.wrap div {
  position: relative;
  margin: 50px 0;
}
.add_employe_input label {
  position: absolute;
  top: 4px;
  color: var(--unnamed, #a6a6a6);

  /* Mobile tabs / Medium */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  margin: 10px;
  padding: 0 5px;
  background-color: #fff;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}
.add_employe_input .active {
  top: -20px;
  font-size: 16px;
  color: #358ed7;
}
.add_employe_input input[type="text"],
.add_employe_input select {
  width: 100%;
  font-feature-settings: "calt" off;
  color: var(--unnamed, #121212);
  font-feature-settings: "calt" off;
  font-family: "Nunito", sans-serif;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 52px;
  border-radius: 3px;
  border: 1px solid var(--unnamed, #cfd3de);
  background: var(--unnamed, #fff);
  padding: 14px 16px;
}
.add_employe_input input[type="text"]:focus,
.add_employe_input select:focus {
  outline: none;
}
.add_employe_input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  cursor: pointer;
}
.add_employe_input select {
  background-image: url("../../assets/icons/select-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.add_employe_input div {
  position: relative;
  margin-bottom: 24px;
}
.active_input {
  border: 1px solid #358ed7 !important;
}

.create_employer_password {
  display: flex;
  align-items: center;
  position: relative;
}
.create_employer_password button {
  position: absolute;
  right: 15px;
  color: var(--normal, #358ed7);

  /* Body Text / Semi Bold */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.admin_actions {
  display: flex;
  align-items: center;
  gap: 16px;
}
.admin_create_actions {
  margin-top: 40px;
  margin-bottom: 40px;
}

.admin_actions button {
  border-radius: 3px;
  padding: 14px 32px;
  cursor: pointer;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
}
.create_admin_btn {
  color: #fff;
  background: var(--normal, #39b54a);
}

.undo_create {
  background: #fff;
  color: var(--normal, #358ed7);
  border: 1px solid var(--normal, #358ed7) !important;
}

.admin_permission {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.admin_permission p {
  color: #000;
  font-feature-settings: "calt" off;

  /* Body Text / Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.admin_permission input {
  width: 24px;
  height: 24px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 12px;
}

.admin_permisions_btns {
  margin-top: 40px;
}