.cases_actions_wrapper {
  margin-top: 25px;
  width: 1000px;
}

.case_tab_content_title p {
  color: var(--unnamed, var(--unnamed, #121212));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.2px;
  margin-bottom: 24px;
}

.case_tab_content {
  min-height: 500px;
  border-radius: 0px 3px 3px 3px;
  border: 1px solid var(--unnamed, #cfd3de);
  background: var(--unnamed, #fff);
  /* border-top: none; */
  margin-bottom: 50px;
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.edit_case_image {
  margin: 0 !important;
}
.react-tabs__tab-list {
  margin-bottom: 1px !important;
  border-bottom: 0 !important       ;
  gap: 4px;
  display: flex;
  align-items: end;
}
.react-tabs__tab-list li {
  list-style: none !important;
}
.conditions_select_box {
  width: 600px;
  margin-bottom: 30px;
}
.css-13cymwt-control {
  height: 50px;
}
.react-tabs__tab {
  padding: 8px 16px !important;
  border-radius: 3px 3px 0px 0px;
  background: var(--unnamed, #fff);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none !important;
}
.react-tabs__tab--selected {
  border-radius: 3px 3px 0px 0px !important;
  background: var(--unnamed, #fff) !important;
  box-shadow: 0px 1px 0px 0px #cfd3de inset, 1px 0px 0px 0px #cfd3de inset,
    -1px 0px 0px 0px #cfd3de inset !important;
  padding: 12px 24px !important;
  border-color: none !important;
  color: #000;
  margin-bottom: -1px;

  /* Body Text/Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.case_input_temp {
  width: 460px;
  margin-bottom: 30px;
}

.case_input_temp p {
  color: var(--unnamed, #121212);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
.case_input_temp input,
.case_input_temp select {
  height: 52px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--unnamed, #cfd3de);
  background: var(--unnamed, #fff);
  outline: none;
  padding: 14px 16px;

  color: #121212;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.case_tab_content_inputs {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.case_img_block {
  padding: 8px;
  gap: 8px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px dashed var(--unnamed, #cfd3de);
  width: auto;
}

.case_img_item {
  width: 120px;
  height: 80px;
  border-radius: 3px;
  overflow: hidden;
}
.case_img_add_block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--light, #5da5df);
  background: var(--unnamed, #f2f5ff);
}
.case_img_add_block p {
  color: var(--normal, #358ed7);
  margin-top: 8px;
  /* Helpers text/Semi Bold */
  font-family: Inter;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.3% */
}

.case_tab_content span {
  color: var(--unnamed, var(--unnamed, #a6a6a6));
  font-family: Inter;
  font-size: 12.003px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.3% */
}
.case_img_block_wrapper {
  margin-bottom: 50px;
}

.case_tab_content_text textarea {
  width: 756px;
  border-radius: 3px;
  border: 1px solid var(--unnamed, #cfd3de);
  background: var(--unnamed, #fff);
  outline: none;
  padding: 12px;
  min-height: 150px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.upload_img_input {
  visibility: hidden;
  position: absolute;
  z-index: -1;
}
.case_img_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.case_img_item img {
  object-fit: cover;
  width: 100%;
}
.case_img_item p {
  font-size: 12px;
  text-align: center;
}

.case_actions {
  margin-top: 20px;
}

.case_items_list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  margin-top: 30px;
  width: 100%;
  gap: 15px;
}
.case_items_list_item {
  height: auto;
  margin-bottom: 20px;
  width: 150px;
}
.case_img_block_wrapper .case_img_block {
  margin-bottom: 30px;
}
.case_img_block_wrapper_case_page {
  margin-bottom: 20px;
}
.case_img_block_wrapper_case_page .case_img_block {
  margin-bottom: 5px;
}
.add_item_case_btn {
  max-width: 140px;
}

.case_items_list_item img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover;
}

.case_input_temp_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}
.case_input_temp_checkbox p {
  margin: 0;
}
.case_input_temp_checkbox input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}